.home-page-wrap {
  padding: 0 20px 30px 20px;
}
.home-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.home-page-header select {
  border: 1px solid #970191;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  color: #970191;
  outline: none;
}

.home-page-header h2 {
  font-size: 1.5rem;
}

.connections {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 15px;
}

.connect {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.185);
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 20px;
  cursor: pointer;
  transition: all 100ms ease;
}

.connect:hover {
  transform: translateY(-3px);
  background-color: rgba(128, 128, 128, 0.342);
}

.connect img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

.connect h2 {
  font-size: 20px;
  margin-top: 20px;
}

.connect h3 {
  font-size: 13px;
  margin-top: 5px;
}

.app-loading {
  margin-top: 30px;
  color: black;
  font-size: 20px;
  text-align: center;
}

.status-container {
  display: flex;
  align-items: center;
}

.status-rect {
  width: 13px;
  height: 10px;
  border-radius: 2px;
  margin-top: 6px;
  margin-left: 6px;
}
.disconnected {
  background-color: red;
}

.Connected {
  background-color: green;
}

@media (max-width: 500px) {
  .home-page-wrap {
    padding: 0 10px 10px 10px;
  }
}
