.app-header-wrap {
  background-color: black;
  height: 75px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  z-index: 4;
}

.app-header {
  color: white;
}

.connections {
  margin-top: 87px;
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 0 20px 30px 20px;
  grid-gap: 10px;
}

.connect {
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.185);
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  padding-top: 20px;
  cursor: pointer;
  transition: all 200ms ease;
}

.connect:hover {
  transform: translateY(-3px);
}

.connect img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

.connect h2 {
  font-size: 20px;
  margin-top: 20px;
}

.connect h3 {
  font-size: 13px;
  margin-top: 5px;
}

.app-loading {
  margin-top: 100px;
  color: black;
  font-size: 20px;
  text-align: center;
}

.status-container {
  display: flex;
  align-items: center;
}

.status-rect {
  width: 13px;
  height: 10px;
  border-radius: 2px;
  margin-top: 6px;
  margin-left: 6px;
}
.disconnected {
  background-color: red;
}

.Connected {
  background-color: green;
}

@media (max-width: 500px) {
  .connections {
    padding: 0 10px 10px 10px;
  }
}
